@import '../../../../assets/sass/index.scss';

h1{
    color: $primary-color;
}
h4{
    color: $secondary-color;
}
.carousel-img{
    // height: calc(100dvh - 50px);
    width: 100%;
    background-size: cover;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container{
    position: relative;
    .carousel-caption{
        position: absolute;
    }
}