@import '../theme/_primary.sass';
@import '../theme/_primary.sass';

$dropdown-border-width:0;
$dropdown-link-hover-bg:transparent;
$dropdown-link-active-color:$primary-color;
$dropdown-link-active-bg:transparent;