@import '../../../../assets/sass/theme/_primary.sass';
.full-banner{
    background-image: url('../../../../assets/images/banner/1.jpg');
}
.full-banner.parallax{
    background-attachment: fixed;
}
.full-banner{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 190px;
    padding-bottom: 190px;
    background-position: center;
}
.container{
    position: relative;
    .banner-contain{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        h2{
            color: $primary-color;
            font-weight: 700;
        }
        h3{
            color: $secondary-color;
        }
        h4{
            color: $primary-color;
        }
    }
}