<footer>
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-6 col-lg-3 about-footer">
          <h3>Logo</h3>
          <ul>
            <li>
              <a href="#"
                ><i class="fa-solid fa-phone"></i><span>0765432320</span></a
              >
            </li>

            <li>
              <a href="#">
                <i class="fa-solid fa-phone"></i>
                <span>02122270277</span></a
              >
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <span
                >A9, 212 Kandy Road, <br />
                Chavakachcheri</span
              >
            </li>
          </ul>

          <ul class="footer-social">
            <li>
              <a href="" target="_blank"
                ><i class="fa-brands fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-2 page-more-info">
          <div class="footer-title">
            <h4>Page links</h4>
          </div>
          <ul>
            <li><a (click)="home()">Home</a></li>
            <li><a (click)="aboutus()">About</a></li>
            <li><a (click)="contactus()">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-6 col-lg-3 page-more-info">
          <div class="footer-title">
            <h4>More Info</h4>
          </div>
          <ul>
            <li><a href="#">Men</a></li>
            <li><a href="#">Women</a></li>
            <li><a href="#">Kids</a></li>
            <li><a href="#">Gifts</a></li>
          </ul>
        </div>
        <div class="col-md-6 col-lg-4 open-hours">
          <div class="footer-title">
            <h4>Open hours</h4>
          </div>
          <div class="week-hours">
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Monday</span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Tuesday</span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Wednesday </span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Thursday</span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Friday </span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Saturday</span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
            <div class="d-flex day-time">
              <div><i class="far fa-clock"></i><span>Sunday</span></div>
              <div><span>9:00am - 5:00pm</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="footer-bottom">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-8">
          <p>NJOY @ 2023 All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
